---
import charts from "../../public/img/charts.svg";
import computer from "../../public/img/computer.svg";
import programing from "../../public/img/programing.svg";
---

<div
  class="flex w-full h-[600px]  lg:flex-row xs:flex-col xxs:flex-col justify-center items-center  xxs:h-fit lg:h-[500px] xs:h-fit "
>
  <div
    class="flex flex-[0.65] flex-col justify-start items-start h-full xs:w-full xxs:w-full"
  >
    <div
      class="w-full flex lg:items-end flex-col xs:justify-start xs:items-start xxs:justify-start xxs:items-start xxs:ml-16 animate-fade-in-right"
    >
      <div
        class="bg-white rounded-lg flex-row w-fit h-27 shadow-[0px 0px 20px rgba(0, 0, 0, 0.1)] p-[ 1rem 2rem] flex justify-center items-center mb-10 p-6 border-2"
      >
        <span class="text-4xl">👋</span>
        <div style={{ marginLeft: 20 }}>
          <p class="text-2xl text-gray-400 leading-6">Hello, I am</p>
          <h1 class="text-4xl font-bold text-center">Carlos Velasco</h1>
        </div>
      </div>

      <div
        class="p-[ 1rem 2rem] bg-white rounded-lg flex flex-row w-fit  h-20 shadow-[0px 0px 20px rgba(0, 0, 0, 0.1)] justify-center items-center p-6 border-2"
      >
        <p class="w-full text-right text-2xl">Full Stack </p> 
         <p class="w-full text-right  text-2xl"> Developer </p>
      </div>
    </div>
  </div>

  <div class="flex h-full justify-center relative w-full flex-1">
    <img
      src="/img/Carlos.png"
      class="w-fit object-contain z-10 rounded-full h-full"
    />
    <div class="absolute w-full h-full flex justify-center items-end">
      <div
        class="bg-[rgb(227,228,236)] rounded-full left-0 right-0 bottom-0 z-0 lg:w-[350px] lg:h-[70%] xs:w-[320px] xs:h-[340px] mb-2 animate-zoom-in"
      >
      </div>
    </div>
  </div>
  <div
    class="flex h-full lg:flex-col justify-evenly items-start mL-5 w-[100%] flex-[0.75] md:w-full md:flex-row md:flex-wrap animate-fade-in-left"
  >
    <div
      class="w-[100px] h-[100px] rounded-full bg-[rgb(227,228,236)] shadow-[0px 0px 20px rgba(0, 0, 0, 0.1)] flex justify-center items-center border-2"
    >
      <img
        src={charts.src}
        width={charts.width}
        height={charts.height}
        alt="CHATRS"
        class="w-[50%] h-[50%]"
      />
    </div>
    <div
      class="w-[150px] h-[150px] m-10 rounded-full bg-[rgb(227,228,236)] shadow-[0px 0px 20px rgba(0, 0, 0, 0.1)] flex justify-center items-center border-2"
    >
      <img
        src={programing.src}
        width={programing.width}
        height={programing.height}
        alt="CHATRS"
        class="w-[100%] h-[100%] rounded-full"
      />
    </div>
    <div
      class="w-[70px] h-[70px] rounded-full bg-[rgb(227,228,236)] shadow-[0px 0px 20px rgba(0, 0, 0, 0.1)] flex justify-center items-center border-2"
    >
      <img
        src={computer.src}
        width={computer.width}
        height={computer.height}
        alt="CHATRS"
        class="w-[100%] h-[100%]"
      />
    </div>
  </div>
</div>
